#include <time.h>
#include <iostream>
#include <Windows.h>
using namespace std;
enum rules { Newbie = 1, Adept = 2 };
int showcardsnames(int* pthisnecessity) // Показ карт и их значений. Масти и ранги
{
    if (*pthisnecessity == 1)
        cout << "D -- Бубы\t";
    cout << "H -- Черви\t";
    cout << "C -- Трефы\t";
    cout << "S -- Пики" << endl;
    cout << "2 -- Двойка\t";
    cout << "3 -- Тройка\t";
    cout << "4 -- Четвёрка\t";
    cout << "5 -- Пятёрка" << endl;
    cout << "6 -- Шестёрка\t";
    cout << "7 -- Семерка\t";
    cout << "8 -- Восьмёрка\t";
    cout << "9 -- Девятка" << endl;
    cout << "10 -- Десятка\t";
    cout << "J -- Валет\t";
    cout << "Q -- Дама\t";
    cout << "K -- Король" << endl;
    cout << "\t\t          A -- Туз"; // Криво, потому что он посередине
    return 1;
}
int deckshuffle(int deck[4][13]) // Тасовка всех карт
{
    return 0;
}
int main()
{
    setlocale(LC_ALL, "rus");
    srand(time(NULL)); // Рандомайзер  
    // ---------------------------------------
    int userchoice;
    int thisisnecessity = 1; // Переменная для вывода функцией комбы карт и их значения(не менять)
    string username;
    cout << "Welcome to Texas Poker" << endl;
    cout << "--------------------------" << endl;
    cout << "Вы новичок(доступ к правилам) или уже опытный игрок?" << endl;
    cout << "Новичок - 1,\tОпытный - 2 - ? "; cin >> userchoice;
    switch (userchoice)
    {
    case Newbie:
    {
        cout << "Хорошо, правила техасского покера:" << endl; // Строка для правил
        cout << "Покер – карточная игра, цель которой состоит в том чтобы собрать наилучшую комбинацию и выиграть ставки." << endl; // Правила
        cout << "Каждая раздача в покере начинается с обязательных ставок. Перед раздачей карт два игрока ставят обязательные ставки - малый и большой блайнды." << endl;
        cout << "Малый блайнд в два раза меньше большого." << endl;
        cout << "Эти ставки нужны для того, чтобы участникам раздачи было за что бороться." << endl;
        cout << "В каждом раунде торговля продолжается до человека, сидящего справа от последнего игрока, сделавшего ставку." << endl;
        cout << "После того как все игроки получили свои карты, каждый из них решает, что он будет делать - откажется от борьбы за банк и скинет свои карты." << endl;
        cout << "Или постарается продолжить игру сделав колл размером в один большой блайнд или же рэйз размером как минимум два больших блайнда." << endl;
        cout << "По окончании раунда торговли, все ставки сделанные игроками собираются в один общий банк, за который продолжится борьба." << endl;
        cout << "После завершения торгов на терне на стол выкладывается пятая и последняя карта – ривер (от англ. «river»)." << endl;
        cout << "После открытия карты ривера, игроки анализируют собранные ими финальные комбинации и проводят завершающий раунд торговли." << endl;
        cout << "По правилам покера игроки, которые уравняли все ставки на предыдущих улицах, принимают участие в последнем раунде игры – вскрытии карт." << endl;
        cout << "Именно здесь определяется победитель, который и забирает банк. Все игроки показывают свои комбинации." << endl;
        cout << "Выигрывает самая сильная пятикарточная комбинация (рука), которую игрок составляет из всех доступных ему карт." << endl;
        break;
    }
    case Adept:
    {
        cout << "Хорошо, перейдем к следующему шагу" << endl;
        break;
    }
    default:
        cout << "Даного пункта нет в меню" << endl;
        abort();
    }
    cout << "Пожалуйста, введите свой ник -- "; cin >> username;
    cout << "И так, " << username << ", приступим к началу игры." << endl;
    cout << "В игре обозначения на английском. Список ниже:" << endl;
    showcardsnames(&thisisnecessity); // Показ карт и их ранги
    //------------------------------------------
    const char* suits[4] = { "Diamonds", "Hearts", "Clubs", "Spades" };
    const char* ranks[13] = { "Ace", "Two", "Three", "Four", "Five", "Six", "Seven", "Eight", "Nine", "Ten", "Jack", "Queen", "King" };
    int deck[4][13]{ 0 };
    cout << "\n\n\t\t\tНачинаем игру!" << endl;
    cout << "  Накрываем поле..." << endl;
    Sleep(1000);
    cout << "  Тасуем карты..." << endl;
    Sleep(1000);
    cout << "  Ваши карты: ";
    // https://pokers-shop.ru/pravila-pokera.html
}
}
